/*To-do-section*/
/*Container around the whole div*/

h2 {
    margin: 20px;
}
.to-do-list {
    text-align: center;
}

.to-do-list h1{
    margin-bottom: 30px;
}

/*Container around all participants*/

.to-do-container {
    display: flex;
    max-width: 100%;
    margin: 10px;
    justify-content: space-evenly;
}

/*Each participants container of habits and the childs styling*/

.p-container {
    border: 1px solid black;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.p-container h2{
    padding-top: 10px;
    margin-bottom: 20px;
}

.p-container .add-habit-container {
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.p-container .habit-inputs {
    width: 60%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    height: 40px;
    padding-left: 10px;
    border-radius: 20px;
}

.p-container .add-to-do-btn {
    background-color: #eda739;
    width: 60px;
    height: 40px;
    border-radius: 20px;
}

.add-to-do-btn:hover {
    background-color: #ffd38d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}


.p-container .to-do {
    margin: 0;
    padding: 0;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkbox-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}

.habit-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.remove-habit {
    width: 20px;
    height: 20px;
    background-color: red;
}

.checkbox-container label {
    margin-left: 20px;
    font-size: 20px;
    text-align: start;
    width: 250px;
    word-wrap: break-word;
}

.complete-div {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: end;
    
}

.habit-time {
    width: 50px;
    margin-right: 5px;
}

.check-habit {
    width: 30px;
    border: 1px solid black;
    background-color: transparent;
    transition: background-color 0.3s;
}

.check-habit.completed {
    background-color: #6bff70;
    color: #fff;
  }

.user-table-container {
    margin: 50px 0 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.user-table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 40px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  .user-table td {
    width: 12.5%;
  }
  
  .user-table thead {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .fade {
    opacity: 0;
    transition: opacity 0.3s;
  }

  

@media screen and (max-width: 800px) {
    .to-do-container {
        flex-direction: column;
        align-items: center;
    }

    .p-container {
        margin-bottom: 10px;
        width: 100%;
    }
  }